# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Backup files
staff.bak

# Database files
totp_secrets.db

# Environment variables
.env

# Static files (optional, if generated dynamically)
static/images/favicon.ico

# Logs
*.log

# macOS system files
.DS_Store

# Other temporary files
*.tmp
*.bak
*.swp
*.swo
*.orig

# Data files
data/
*.json
