# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore database files
totp_secrets.db

# Ignore backup files
*.bak

# Ignore environment files
.env

# Ignore logs
logs/
*.log

# Ignore system files
.DS_Store

# Ignore virtual environment
.venv/
