<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>
    <h1>Order Confirmation</h1>
    <p>Thank you, {{ order_details[0].name }}! Your order has been received.</p>
    <p><b>Order Number:</b> {{ order_details[0].order_number }}</p>
    <ul>
        {% for item in order_details %}
            {% if order_type == 'food' %}
                <li>{{ item.quantity }} x {{ item.food_item }} - {{ item.description }} - £{{ item.price }}</li>
            {% elif order_type == 'book' %}
                <li>{{ item.quantity }} x {{ item.book_title }} - £{{ item.price }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <p><b>Total Amount:</b> £{{ total_amount }}</p>
    <a href="/order_food">Order Food</a>
    <a href="/order_book">Order Book</a>
    <a href="/">Back to Home</a>
</body>
</html>