<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Food</title>
    <script>
        function addItem() {
            const itemContainer = document.getElementById('item-container');
            const newItem = document.createElement('div');
            newItem.innerHTML = `
                <label for="food_item">Food Item:</label>
                <select name="food_item" required>
                    {% for item in food_menu %}
                    <option value="{{ item.name }}">{{ item.name }} - {{item.description}} £{{ item.price }}</option>
                    {% endfor %}
                </select><br>
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" min="1" required><br>
            `;
            itemContainer.appendChild(newItem);
        }
    </script>
</head>
<body>
    <h1>Order Food</h1>
    <form action="/order_food" method="post">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email"><br>
        <div id="item-container">
            <div>
                <label for="food_item">Food Item:</label>
                <select name="food_item" required>
                    {% for item in food_menu %}
                    <option value="{{ item.name }}">{{ item.name }} - {{item.description}} £{{ item.price }}</option>
                    {% endfor %}
                </select><br>
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" min="1" required><br>
            </div>
        </div>
        <button type="button" onclick="addItem()">Add Another Item</button><br>
        <label for="email_confirmation">Would you like an email confirmation?</label>
        <input type="checkbox" id="email_confirmation" name="email_confirmation"><br>
        <input type="submit" value="Order">
    </form>
    <h2>Menus</h2>
    <a href="/home">View Menus</a>
    <a href="/order_food">Order Food</a>
    <a href="/order_book">Order Book</a>
    <a href="/">Back to Home</a>
</body>
</html>